@model FriendlyRS1.ViewModels.UserDetailsVM
@using System.Security.Claims;

@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    string ImageError = TempData["ImageError"] as string;
}
<style>
    html {
        overflow-y: scroll;
    }

    .profileImage {
        cursor: pointer;
    }

        .profileImage:hover {
            opacity: 0.8;
        }

    .container-change-profile-image {
        position: absolute;
        left: 600px;
        top: 200px;
        background-color: darkslategrey;
        width: 430px;
        height: 250px;
        display: none;
        border-radius: 10px 10px;
        transition: all 2s ease;
    }

    .container-view-profile-picture {
        position: absolute;
        left: 520px;
        top: 150px;
        display: none;
    }

    input[type="file"] {
        display: none;
    }

    .custom-file-upload {
        display: inline-block;
        cursor: pointer;
    }

    .view-profile-picture {
        width: 500px;
        height: 500px;
    }

    .icon:hover {
        cursor: pointer;
    }

    .li-item {
        transition: all .1s ease-in-out;
        border-bottom: 3px solid #fff;
    }

        .li-item:hover {
            cursor: pointer;
            border-bottom: 3px solid gray;
        }
</style>


<div class="container">
    <div class="main-wrapper d-flex flex-column">
        @if (ImageError != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>WARNING! </strong> @ImageError
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div class="d-flex px-5" style="background-color:whitesmoke">
            <div class="img-section p-3">
                @* ovdje ce se ucitavati od user slika! *@

                @if (Model.Me)
                {
                    @if (Model.ProfileImage != null)
                    {
                        <img onclick="ShowBox()" src="data:image/*;base64,@(Convert.ToBase64String(Model.ProfileImage))" class="rounded-circle border border-dark profileImage" style="height: 200px; width: 200px; background-size: cover; background-position: center;">
                    }
                    else
                    {
                        <img onclick="ShowBox()" src="/avatar.png" class="rounded-circle border border-light profileImage" style="height: 168px; width: 168px; background-size: cover; background-position: center;">
                    }
                }
                else
                {
                    @if (Model.ProfileImage != null)
                    {
                        <img onclick="ViewProfilePicture(true)" src="data:image/*;base64,@(Convert.ToBase64String(Model.ProfileImage))" class="rounded-circle border border-dark profileImage" style="height: 200px; width: 200px; background-size: cover; background-position: center;">
                    }
                    else
                    {
                        <img onclick="ViewProfilePicture(true)" src="/avatar.png" class="rounded-circle border border-light profileImage" style="height: 168px; width: 168px; background-size: cover; background-position: center;">
                    }
                }
            </div>

            <div class="podaci p-3" style="line-height:.5em">
                <h3 class="font-weight-bold">@Model.ToString()</h3>
                <hr />
                <p>Student at Faculty of Information Technologies "FIT" - Mostar</p>
                <hr />
                <div class="basic-data">
                    <p>
                        <small>@Model.GetAge()</small>
                    </p>
                    <p>
                        <i class="fas fa-map-marker-alt text-danger"></i>
                        <small>@Model.CityName</small>
                    </p>
                    <div class="d-flex align-items-center">
                        <input type="button" value="@Model.ConnectionsCount Connections" class="btn btn-info mr-2" />
                        @if (Model.Me == false)
                        {
                            <div style="position:relative" id="parent">
                                @*here goes friendship button*@
                            </div>
                        }
                    </div>


                </div>
            </div>

            @*<div class="text-info p-3 d-flex flex-column flex-grow-1 align-items-center justify-content-around">
                    <div class="social-links d-flex justify-content-around" style="width:50%">
                        <i class="fab fa-facebook fa-lg"></i>
                        <i class="fab fa-twitter fa-lg"></i>
                        <i class="fab fa-instagram fa-lg"></i>
                    </div>
                    <div>
                        <a class="text-secondary" href="#"><h4>Contact info</h4></a>
                    </div>
                </div>*@
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#" onclick="LoadPosts()">Posts</a>
                    <a class="nav-item nav-link" href="#" onclick="ShowDefault()">About me</a>
                    <a class="nav-item nav-link" href="#" onclick="LoadConnections()">Connections</a>
                    @if (@Model.Me && Model.HobbiesCount == 0)
                    {
                        <a class="nav-item nav-link text-danger" href="#" onclick="EditHobbies(@Model.UserId)">Hobbies <i class="fas fa-exclamation text-danger"></i></a>
                    }
                    else
                    {
                        <a class="nav-item nav-link" href="#" onclick="EditHobbies(@Model.UserId)">Hobbies</a>
                    }
                </div>
            </div>
        </nav>
    </div>
    <div id="ShowContent" class="mb-2">
    </div>

    <div class="p-3 border rounded">
        <div class="d-flex justify-content-between">
            <h5>About</h5>
            @if (Model.Me == true)
            {
                <i class="fas fa-pen  icon text-secondary"></i>
            }
        </div>
        <p>Junior Software Developer, intersted in many things...</p>
    </div>

    <div class="container-view-profile-picture">
        @if (Model.Me)
        {
            <a onclick="HideViewImage(true);" class="fas fa-times-circle fa-2x text-white" style="position:absolute; left:93%; top:1%; cursor:pointer;"></a>
        }
        else
        {
            <a onclick="HideViewImage(false);" class="fas fa-times-circle fa-2x text-white" style="position:absolute; left:93%; top:1%; cursor:pointer;"></a>
        }
        @if (Model.ProfileImage != null)
        {
            <img class="view-profile-picture" src="data:image/*;base64,@(Convert.ToBase64String(Model.ProfileImage))" alt="Alternate Text" />
        }
    </div>

</div>

<div class="container-change-profile-image p-2">
    <div id="ChangeProfileImage" class="d-flex justify-content-between align-items-center flex-column rounded w-100 h-100">
        <div class="w-100 p-2 text-right">
            <a href="#" onclick="HideBox(true)" class="fas fa-times-circle fa-2x text-info"></a>
        </div>
        <div class="mb-2 w-100">
            <div class="d-flex flex-column justify-content-around p-2 " style="width:100%; height:130px;">
                <input class="btn btn-light pt-2 pb-2" onclick="ViewProfilePicture()" type="button" value="View profile picture" />
                <form asp-action="AddImage" asp-controller="UserProfile" enctype="multipart/form-data" method="post">
                    <div class="btn btn-light p-1 pr-2 pl-2">
                        <label for="file-upload" class="custom-file-upload">
                            <i class="fa fa-cloud-upload"></i> Change profile picture
                        </label>
                        <input id="file-upload" type="file" name="Image" />
                    </div>
                    <button type="submit" class="btn btn-info" style="padding:8px 64px 8px 65px ">Upload</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    $().alert('close');

    // spinning loader
    var loader = `<div class="d-flex justify-content-center">
                  <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                 </div>
                 </div>`;
    var loaderSmall = `<div class="d-flex justify-content-center m-1">
                  <div class="spinner-border spinner-border-sm" role="status">
                 </div>
                 </div>`;

     window.addEventListener('load', () => {
        var url = "/UserProfile/FriendConnect/" + @Model.UserId;

       $("#parent").innerHTML = loader;
        $.ajax({
            type: 'GET',
            url: url,
            success: function (data) {
                $("#parent").html(data);
            }
        })
   });

    function AjaxPost(form, url) {
        $.ajax({
            type: 'POST',
            url: url,
            data: form.serialize(),
            success: function (data) {
                $("#parent").html(data);
            }
        })
    }

    function Toggle() {
        $("#respondRequest").toggle();
    }

    function Cancel() {
        var url = "/UserProfile/CancelRequest";
        var form = $("#connectForm");

        AjaxPost(form, url);
    }

    function addFriend(element) {
        element.innerHTML = loaderSmall;

        element.disabled = true;
        var url = "/UserProfile/AddFriend";
        var form = $("#connectForm");
        AjaxPost(form, url);
    }

    function ConfirmRequest() {

        var url = "/UserProfile/EstablishConnection";
        var form = $("#connectForm");
        AjaxPost(form, url);
    }

    function RespondRequest() {
        var menu = document.querySelector("#menu");
        menu.classList.toggle('toggle-display');
    }


    function ShowDefault() {
        GetMenu();
        PersonalInfo();
    }

    function  GetMenu() {
        let url = '/UserProfile/GetUser/' + @Model.UserId;
        // add loader to the screen
        document.getElementById("ShowContent").innerHTML = loader;

        $.get(url, function (d) {
            $("#ShowContent").html(d);
        });
    }

    function LoadConnections() {
         var content = document.getElementById("ShowContent");
        //content.innerHTML = "<div> Here will go users posts</div>";
       let url = '/UserProfile/GetConnections/' + @Model.UserId;
        // add loader to the screen
        document.getElementById("ShowContent").innerHTML = loader;

        $.get(url, function (d) {
            $("#ShowContent").html(d);
        });
    }

    function GetData(country, postalCode, result) {
        result.value = "";
        if (postalCode.value.toString().length != 5) return;

        var countryName = country.options[country.selectedIndex].text;
        var split = countryName.split(" - ");
        var countryTwoAlpha = split.length > 0 ? split[1] : 'error';

        var url = "https://app.zipcodebase.com/api/v1/search?apikey=99f99e60-336e-11eb-b2ab-f9402815fece&codes=" + postalCode.value + "&country=" + countryTwoAlpha;
        fetch(url)
            .then(response => {
                console.log(response);
                return response.json();
            })
            .then(response => {
                var res = response.results[postalCode.value];
                console.log(res);

                result.value = res[0].city;
            })
            .catch(err => {
                console.log("Something went wrong");
            });
    }

    function EditProfileData(id) {
        var url = "/UserProfile/EditCity?id=" + id;
        $.get(url, function (d) {
            $("#ShowContent").html(d);
        });
    }

    function ContactInfo() {
        var url = '/UserProfile/ContactInfo/' + @Model.UserId;

        $.get(url, function (d) {
            $("#information").html(d);
        });
        console.log("Teeest");
    }

    function LivingPlaces() {
        var url = '/UserProfile/LivingPlaces/ '+ @Model.UserId;
        console.log("licing places");
        $.get(url, function (d) {
            $("#information").html(d);
        });
    }

    function PersonalInfo() {
        var url = '/UserProfile/PersonalInfo/' + @Model.UserId;

        $.get(url, function (d) {
            $("#information").html(d);
        });
    }


    function Submit() {

        var form = $("#CityForm");

        var url = "/UserProfile/EditCity";
        $.ajax({
            type: 'POST',
            url: url,
            data: form.serialize(),
            success: function () {
                GetMenu();
                LivingPlaces();
            }
        })
    }

    function ChangeName(input) {
        input.value = "";
    }

    function EditHobbies(id) {
        const Http = new XMLHttpRequest();
        const url = '/UserProfile/DisplayHobbies/'+id;
        Http.open("GET", url);
        Http.send();

        Http.onreadystatechange = () => {
            $("#ShowContent").html(Http.responseText);
        }
    }


    $().alert('close')

    function ShowBox() {
        var img = document.getElementsByClassName("container-change-profile-image")[0];
        img.style.display = "block";
        img.zIndex = 0;

        AdjustWrapper();
    }

    function HideBox() {
        var img = document.getElementsByClassName("container-change-profile-image")[0];
        img.style.display = "none";
        ResetWrapper();
    }

    function noScroll() {
        window.scrollTo(0, 0);
    }

    function ViewProfilePicture() {
        HideBox();
        var element = document.querySelector(".container-view-profile-picture");
        element.style.display = "block";

        AdjustWrapper();
    }

    function HideViewImage(DisplayShowBox) {
        var element = document.querySelector(".container-view-profile-picture");
        element.style.display = "none";
        if(DisplayShowBox)
            ShowBox();
        else
            ResetWrapper();
    }

    function AdjustWrapper() {
        var wrapper = document.querySelector(".main-wrapper");
        wrapper.style.pointerEvents = "none";
        wrapper.style.opacity = 0.5;
        window.addEventListener('scroll', noScroll);
    }

    function ResetWrapper() {
        var wrapper = document.querySelector(".main-wrapper");
        wrapper.style.pointerEvents = "all";
        wrapper.style.opacity = 1;
        window.removeEventListener('scroll', noScroll);
    }

</script>
